extends layout
block content
  .project
    h1 Deck Gallery
    .project-slide-show
      .gallery-slider 
        ul 
          each pic in pics 
            li
              img(src=dirname + pic.src, alt=pic.src)
    .gallery-break 
    
    .gallery-body.masonry
      each pic in pics 
        .gallery-pic-wrapper.item(data-featherlight=dirname + pic.src)
          img(src=dirname + pic.src, alt=pic.src)

    .clear-left
